[submodule "bungie-sdk-php"]
	path = bungie-sdk-php
	url = git@github.com:Yogarine/bungie-sdk-php.git
[submodule "openapi-generator"]
	path = openapi-generator
	url = git@github.com:Yogarine/openapi-generator.git
	branch = bungie-sdk
